.application-window {
    background-image: url(./assets/images/prophesy-background.png);
    font-family: Helvetica, Verdana, sans-serif;
    color: #A9A9A9;
}

windowcontrols button image:not(:hover) {
    background-color: transparent;
    color: #A9A9A9;
}

.title-bar {
    background: transparent;
}

.application-pane {
    background: transparent;
}

/**
 * Trying to blur
 */
.left-pane>text::before {
    background-image: url(./assets/images/prophesy-background.png);
    filter: blur(7px);
    opacity: 0.5;
}

.left-pane>button.toggle {
    background: transparent;
    color: #A9A9A9;
}

.left-pane-label {
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    font-weight: bold;
}

.right-pane {
    background: rgba(11, 12, 220, 0.0);
}