@import url("./globals.css");

.right-pane-notebook>header {
    background: transparent;
    color: @text;
}

.right-pane-notebook>header>tabs>tab>label{
    color: @text;
}

.right-pane-notebook>header>tabs{
    padding: 20px;
}

.right-pane-notebook>stack>child {
    background: transparent;
}
